<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aplikasi PMDB </title>

    <!-- Bootstrap CSS -->
    <link  th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link href="css/datatables.min.css" rel="stylesheet">
    <link href="select2/dist/css/select2.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="js/jquery-3.4.1.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/datatables.min.js"></script>
    <script src="select2/dist/js/select2.min.js"></script>
</head>

<body>
